body {
    font-family: "Open Sans",sans-serif;
    font-size: 24pt;
    background-color: #C9D6DF;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}

/* h3{
    font-size: 54pt;
} */

h4 {
    font-size: 36pt;
}

/* h5{
    font-size: 24pt;
} */

p {
    font-size: 16pt;
    font-family: "Raleway",serif;
    
}

.header {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 100%;
} 

.logo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 250px;
    padding: 0px;
    margin: 25px 0px 20px 0px;
}

.navbar {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #52616B;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar li {
    display: inline-block;
    margin: 0px 20px 5px 20px;
} 

.navbar a {
    display: inline-block;
    text-decoration: none;
    font-size: 20pt;
    font-weight: 600;
    color: white;
}

.active {
    display: inline-block;
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: #58C2F1;
}

li a:hover {
    color: #58C2F1;
}

.header span {
    width: 100%;
    height: 4px;
    background-color: #58C2F1;
    border: 1px solid green;
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.countryImage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.countryImage img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.countryName {
    /* width: 100%; */
    text-align: center;
    background-color: #C9D6DF;
    padding: 20px 0px;
    border-top: 4px solid #58C2F1; 
}

.countryName h1 {
    font-size: 60pt;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}

.countryName p {
    margin: 20px 100px;
    /* padding: 40px auto; */
    text-align: center;
}

.countryContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px 0px;
}

.city-title {
    background-color: white;
    text-align: center;
    border-top: 4px solid #58C2F1; 
}

.landmark-title {
    background-color: white;
    text-align: center;
    border-top: 4px solid #58C2F1;
}

.famous-title {
    background-color: white;
    text-align: center;
    border-top: 4px solid #58C2F1;
}

.about {
    background-color: #C9D6DF;
    text-align: center;
    padding: 40px;
}


.about h2 {
    font-size: 40pt;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}

.about p {
    margin: 20px 100px;
    /* padding: 40px auto; */
    text-align: center;
}

.country-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: white;
    text-align: center;
    margin: 0px;
    padding: 30px 0px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    text-align: center;
    margin: 0px;
    padding: 30px 0px;
    /* border: 3px dotted black; */
}

.city-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    background-color: #C9D6DF;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #52616B;
}

.city-card img {
    margin: 0px auto;
    padding: 0px;
    border: 2px solid white;
    border-radius: 15px;
}

.landmark-card img {
    margin: 0px auto;
    padding: 0px;
    border: 2px solid white;
    border-radius: 15px;
}

.citizen-card img {
    margin: 0px auto;
    padding: 0px;
    border: 2px solid white;
    border-radius: 15px;
}

.city-card h3 {
    font-size: 30pt;
    padding: 0px 40px;
    margin: 0px;
}

.city-card h5 {
    font-size: 20pt;
    font-weight: 400;
    padding: 0px 40px;
    margin: 0px;
}

.city-card p {
    padding: 0px 40px;
    margin: 0px;
}

.city-card a {
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: #338fb7;
    padding: 20px 40px;
    margin: 0px;
}

.city-card a:hover{
    color: white;
}

.landmark-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    background-color: #C9D6DF;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #52616B;
}

.landmark-card h3 {
    font-size: 30pt;
    padding: 0px 40px;
    margin: 0px;
}

.landmark-card h5 {
    font-size: 20pt;
    font-weight: 400;
    padding: 0px 40px;
    margin: 0px;
}

.landmark-card p {
    padding: 0px 40px;
    margin: 0px;
}

.landmark-card a {
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: #338fb7;
    padding: 20px 40px;
    margin: 0px;
}

.landmark-card a:hover{
    color: white;
}

.citizen-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    background-color: #C9D6DF;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #52616B;
}

.citizen-card h3 {
    font-size: 30pt;
    padding: 0px 40px;
    margin: 0px;
}

.citizen-card h5 {
    font-size: 20pt;
    font-weight: 400;
    padding: 0px 40px;
    margin: 0px;
}

.citizen-card p {
    padding: 0px 40px;
    margin: 0px;
}

.citizen-card a {
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: #338fb7;
    padding: 20px 40px;
    margin: 0px;
}

.citizen-card a:hover{
    color: white;
}


.landmark-card img{
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
}

.citizen-card img{
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
}

.country-card img{
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    width: 100%;
}

.country-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    background-color: #C9D6DF;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #52616B;
}

.country-card h3 {
    font-size: 30pt;
    padding: 0px 40px;
    margin: 0px;
}

.country-card h5 {
    font-size: 20pt;
    font-weight: 400;
    padding: 0px 40px;
    margin: 0px;
}

.country-card p {
    padding: 0px 40px;
    margin: 0px;
}

.country-card a {
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: #338fb7;
    padding: 20px 40px;
    margin: 0px;
}

.country-card a:hover{
    color: white;
}

.footer{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #52616B;
    color: white;
    padding: 30px;
    border-top: 4px solid #58C2F1;
}

.column1{
    align-self: center;
    margin: 0px;
    padding: 20px;
}

.column1 img{
    width: 175px;

}

.column2{
    align-self: center;
    margin: 0px;
    padding-right: 20px;
}

